<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Nunjunks Template Example 2</title>
  
</head>

<body>
  <main>
    <h1>Hello {{name}}</h1>
    <h2>Welcome to {{class}}</h2>
    {% if teacher %}
    <h3>Have fun <strong>teaching!</strong></h3>
    {% else %}
    <h3>Have fun learning all about <em>Web Systems!</em></h3>
    {% endif %}
  </main>
</body>

</html>
