body {
  margin: 1em;
  background-color: burlywood;
}

main {
  background-color: white;
  padding: 1em;
}

.currentA {
  border: dashed;
  padding: 0.5em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: #accfe7;
}

textarea {
  display: block;
  width: 23em;
  height: 5em;
  margin-bottom: 2em;
}

.borderedSection {
  border: solid;
  min-height: 100px;
  padding: 0.5em;
}

#QCreator {
  margin-top: 1em;
}

/* Using the next two classes to move the answer on and
  off the screen. The order matters. This order is setup to
  start with the answer offscreen, then bring it on and off
  screen by toggling the onScreen class.
*/

.offScreen {
  position: relative;
  left: -1500px;
  transition: left 1s;
}

.onScreen {
  position: relative;
  left: 0px;
  transition: left, 1s;
}

/* Using these classes to hide and show the question creator */

.hideStuff {
  display: none;
}

.showStuff {
  display: block;
}
